.rounded{
    border-radius: 10px;
}
.centrar{
    position: absolute;
    left:50%;
    width:1024px;
    margin-left:-512px;
    text-align: center;
}

.logo{
    background:url("images/SCC-catheadmini.png");
    position: absolute;
    left:50%;
    margin-left:-20px;
    width: 40px;
    height: 36px;
}

.msj{
    display: none;
    font-size: 50px; 
    background-color: #692f00; 
    border-radius: 5px;
    z-index:1
}

.inicio{
    width: 1024px;
    height: 520px;
    background:url("images/SCC520-png-blanco.png");
}


#login{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
}

#nombrelogin{
    font-weight: bold;
}

#smartcat{
    padding-top: 36px;
    font-weight: bold;
    font-size: 12px;
}