.rounded{
    border-radius: 10px;
}
.centrar{
    position: absolute;
    left:50%;
    width:1024px;
    margin-left:-512px;
    text-align: center;
}

.logo{
    background:url("images/SCC-catheadmini.png");
    position: absolute;
    left:50%;
    margin-left:20px;
    width: 40px;
    height: 36px;
    z-index:2
}

.msg{
    display: none;
    font-size: 50px; 
    background-color: #692f00; 
    border-radius: 5px;
    padding-left: 8px;
    z-index:1
}

.contenido{
    width: 1024px;
    height: 475px;
    background:url("images/SCC475-png-blanco-naranjo-water.png");
}
.login{
    width: 1024px;
    height: 375px;
    background:url("images/SCC375-png-blanco-naranjo-water.png");
}

.table-header{
/*    border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    background: #fa8728 url("images/ui-bg_highlight-soft_35_a64d02_1x100.png") 50% 50% repeat-x;
    color: #ffffff;
    font-family: arial;
}

.table-content{
    border-style: solid;
    border-width: 1px;
/*    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    background: url("images/table.png") center top repeat;
    color: white;
}
#inicio{
    width: 1024px;
    height: 475px;
    background:url("images/SCC475-png-blanco-naranjo.png");
}

#login{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 100px;

    color: #ffffff;
}

#nombrelogin{
    font-weight: bold;
}

#smartcat{
    padding-top: 16px;
    font-weight: bold;
    font-size: 12px;
}

.user_icon{
    background-position: right center;
    background-image: url(images/user.png);
    background-repeat: no-repeat;
    border-radius: 6px;
}

.pass_icon{
    background-position: right center;
    background-image: url(images/lock.png);
    background-repeat: no-repeat;
    border-radius: 6px;
}
#lista_categorias{
    float: right;
}
#lista_lineas{
    float: right;
}
/*#lista_productos{
    float: right;
}*/